.BigBlind {
	display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50% ;
    border: solid 1px navy;
    background-color: navy;
    color: darkgreen;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
